@media all and (max-width: 992px){
    .col-2{
        margin-left: 150px;
    }
    img{
        padding-right: 0px;
    }
}
@media all and (max-width: 768px){
    .general-1{
        background: url(Безымянный.png) top left;
        background-repeat: repeat-y;
    }
}
@media all and (max-width: 576px){
    img{
        float: none;
        width: 100%;
    }
    .col-3{
        display: none;
    }
    .col{
        display: none;
    }
    body{
        margin: 0;
    }
    h2{
        padding: 0;
        margin-bottom: 0px;
        background-color: #0bdefa;
    }
    p{
        margin: 0;
    }
}
@media all and (max-width: 254px){
    .col-1{
        float: none;
        width:auto;
        background: url(/Безымянный.png) top left;
        background-repeat: repeat;
    }
    .general-1{
        background: none;
    }
    li{
        display: inline;
        margin-right: 5px;
        white-space: nowrap;
    }
    li::after{
        content: ',';
    }
    li:last-of-type::after{
        content: '';
    }
    .col-2{
        margin: 0;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    h3{
        padding: 0;
    }
}
